#heading{
    color:blue;
    background-color :pink;
}
.my-element{
    color:white;
    background-color: black;
}
.el{
    color:purple;
    background-color: cadetblue;
}
.el-2{
    background-color: gold;
}
