<li class="taskitem">
    <div class="taskcontent">Task : {{t}}</div>
    <div class="btngroups">
        <a href="/increase?name={{t}}">
            <button class="upbtn">↑</button>
        </a>
        <a href="/decrease?name={{t}}">
            <button class="downbtn">↓</button>
        </a>

        <a href="/deletetask?name={{t}}">
            <button class="deletebtn">❌</button>
        </a>
    </div>
</li>